{% load staticfiles %}
<!DOCTYPE html>
<html land="en">
   <head>
      <title>{{ sitename }}</title>
      <link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap.css" %}" />
       <style>
         body {
           padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
         }
       </style>
   </head>
   
   <body>
      <div class="navbar navbar-fixed-top">
         <div class="navbar-inner">
            <div class="container">
               <a class="brand" href="{% url companydirectory.views.index %}">{{ sitename }}</a>
               <ul class="nav">
                  <li><a href="/admin">Manage</a></li>
               </ul>
            </div>
         </div>
      </div>
      <div class="container">
         <div class="row">
            <div class="span12">
               <p>
               {% if employees %}
                  <table class="table table-bordered table-striped table-condensed">
                        <tr>
                           <th>Name</td>
                           <th>Title</td>
                           <th>Department</td>
                           <th>Location</td>
                           <th>Ext</td>
                           <th>Shift</td>
                           <th>Email</td>
                           <th>Supervisor</td>
                        </tr>
                     {% for employee in employees %}
                        <tr>
                           <td>{{ employee.firstname }} {{ employee.surname }}</td>
                           <td>{{ employee.title }}</td>
                           <td>{{ employee.department }}</td>
                           <td>{{ employee.location }}</td>
                           <td>{{ employee.extension }}</td>
                           <td>{{ employee.shift }}</td>
                           <td><a href="mailto:{{ employee.email }}">{{ employee.email }}</a></td>
                           <td>{{ employee.supervisor }}</td>
                        </tr>
                     {% endfor %}
                  </table>
               {% else %}
                  No employees found.
               {% endif %}
               </p>
            </div>
         </div>
         <div class="row">
            <div class="span7">&nbsp;</div>
            <div class="span5"><p>Source @ <a href="https://github.com/HolyCow/Django-CompanyDirectory" target="_blank">https://github.com/HolyCow/Django-CompanyDirectory</a></p></div>
         </div>
      </div>
   </body>
</html>


